<header>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="../../index.php">
                <img src="../../assets/img/logoPlayivas.png" alt="Playiva" width="112" height="28" />
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="../../index.php"> Início </a>
                <a class="navbar-item" href="#!"> Sobre </a>
                <a class="navbar-item" href="#!"> Learn </a>
                <a class="navbar-item" href="#!"> Improve </a>
                <a class="navbar-item" href="#!"> Sobre nós </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field">
                        <div class="control">
                            <a class="button is-primary" href="../user/login.php">Login</a>
                            <a class="button" href="../user/cadastro.php">Cadastro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>