.register {
    margin-top: 10rem;
    margin-bottom: 5rem;
    background: white;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .mobile-margin{
        margin-left: 2em;
        margin-right: 2em;
    }
}
